/* CSS for DoneWithAnswerXBlock */

.done_aria_hidden {
    position:absolute;
    color:rgba(0,0,0,0);
    overflow:hidden;
    height:1px;
    width:1px;
}

.done_onoffswitch_wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.done_onoffswitch {
    position: relative; width: 100%;
    width: 100%;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.done_onoffswitch-checkbox {
    display: none;
}

.done_onoffswitch-checkbox + span {
    padding: 0.25rem 0 0.25rem 0;
}

.done_onoffswitch-checkbox:checked + span {
    color: white;
    background-color: #E41D37;
}

.done_onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    white-space: normal !important;
}

.done_onoffswitch-inner {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    color: #E41D37;
    border: 1px solid #E41D37;
    text-align: center;
}

.done_button:focus {
    box-shadow: 0 0 0 0.2rem #000;
}

textarea {
    width: 45%;
    min-width: 100px;
}